version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: cbmpe-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cbmpe
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cbmpe-api
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./test:/usr/src/app/test
      - ./src:/usr/src/app/src
      - ./tsconfig.json:/usr/src/app/tsconfig.json
      - ./tsconfig.build.json:/usr/src/app/tsconfig.build.json
    depends_on:
      - db
    command: >
      sh -c "
        node dist/main.js
      "

  prisma-studio:
    image: node:18-alpine
    container_name: cbmpe-prisma-studio
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    ports:
      - "5555:5555"
    depends_on:
      - db
    command: >
      sh -c "
        npm install &&
        npx prisma generate &&
        npx prisma studio
      "

volumes:
  db-data:
